- content_for :stylesheets do
  :css
    body #main {
      width: 500px;
      margin: 15px auto;
    }


#login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %table
      %tr
        %td.label= f.label :username
        %td.field= f.text_field :username, :autofocus => true
      %tr
        %td.label= f.label :password
        %td.field= f.password_field :password
      - if devise_mapping.rememberable?
        %tr
          %td.empty &nbsp;
          %td.label
            = f.check_box :remember_me
            = f.label :remember_me
      %tr
        %td.button{:colspan => 2}= f.submit "Einloggen"
